@import url(base.css);
/* 
h1 {
  font-size: 200%;
  margin: 8px 0px;
}

img {
  border-radius: 12px;
}

article {
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  margin: 2vw;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
} */


body {
  font-family: Arial, sans-serif;
  background-color: rgb(39, 40, 41);
  padding: 10px;
}

h3 {
  font-style: italic;
  margin-top: 5px;
}

.movie {
  display: flex;

  background: #8e929f;

  border-radius: 10px;
  margin-bottom: 10px;

  padding: 10px;

}

.movieTitel {
  margin-top: 0;
}

.poster {
  max-width: 350px;
  max-height: 466px;
  border-radius: 5px;
}

.informations {
  flex: 1;
  max-width: 450px;
  padding-left: 10px;
}

/*betrifft alle Kinder */
.informations>* {
  margin-bottom: 0px;
}

.timeInformation,
.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-style: italic;
}

.genre {
  background-color: rgb(43, 34, 90);
  color: #8e929f;
  font-weight: bold;

  padding: 3px 10px;
  border-radius: 8px;
  margin-right: 8px;
  margin-top: 5px;
  display: inline-block;
}

.unsortedList {
  margin-top: 8px;
  list-style: none;

}

li::before {
  content: "🌟";
}



@media (max-width: 800px) {
  .movie {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .movieTitel {
    padding-top: 5px;
  }

}